# Python Documentation in Markdown

## Python Documentation

# Heading

## Sample Heading

### content has been typed

###### Sample

####### h7

## Links

CLick here to proceed for [Google](https://google.com)

## image

<img src="s1.jpeg">

# Python Basics

In [8]:
a=30
b=10
print(b,a)

10 30

In [11]:
b/a

0.3333333333333333

## type() -> It defines the data type of a value

In [13]:
type(a)

int

In [14]:
c=2.78
type(c)

float

In [15]:
print(type(a),type(b),type(c))

<class 'int'> <class 'int'> <class 'float'>

In [16]:
type(a),type(b),type(c)

(int, int, float)

In [17]:
d='Divya'
e=True
type(d),type(e)

(str, bool)

In [18]:
a,b,c,d=123,34.5467,'divya',True

In [19]:
print(a,b,c,d)

123 34.5467 divya True

In [22]:
print(a,b,c,d,type(a),type(b),type(c),type(d))

123 34.5467 divya True <class 'int'> <class 'float'> <class 'str'> <class 'bool'>

In [23]:
print(a,type(a))
print(b,type(b))
print(c,type(c))
print(d,type(d))

123 <class 'int'>
34.5467 <class 'float'>
divya <class 'str'>
True <class 'bool'>

In [25]:
e=t=u=y=360
print(e,type(e))
print(t,y,u)

360 <class 'int'>
360 360 360

## Type casting
- int()
- float()
- str()

## input()
   - It accepts all values but it stores it as a string data type
   - It can be viewed as a print by defining as a prompt to a user

In [28]:
l=input()
print(l,type(l))

59
59 <class 'str'>

In [35]:
l=float((input("Enter a number : ")))
print(l,type(l))

Enter a number : 3245
3245.0 <class 'float'>

In [55]:
d='34.547'
print(int(float(d)),type(int(float(d))))
print(d,type(d))

34 <class 'int'>
34.547 <class 'str'>

>hello

some commands:
```

git status
```

- [x] why
- [ ] what
- [ ] how

1. first
   - second

*our-new-project* to *our-old-project*

\*our-new-project\* to \*our-old-project\*